.devices {
  background-color: rgb(255, 255, 255);
  margin-top: 88.7px;
  border-radius: 30px;
  display: flex;
  height: auto;
  gap: 5%;
  padding: 0 0 5% 0;
  overflow: hidden;
  justify-content: center;
}
.devices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.devices-container h1 {
  font-size: 4rem;
  font-weight: 500;
}
.devices-container .device-bold {
  font-weight: bolder;
  font-size: 1.5rem;
}

.devices-container p {
  margin: 0;
}
.watch-items {
  padding-bottom: 5%;
}

.devices-items {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1439px) {
  .devices-container h1 {
    font-size: 3rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 1000px) {
  .devices {
    margin-top: 0px;
  }
  .devices-items {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .devices-container h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 670px) {
  .devices-container h1 {
    text-align: center;
  }
  .devices {
    border-radius: 0px;
  }
}
