.device-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.device-list-item {
  height: 70px;
}

.device-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px;
}
.device-item-container p {
  color: var(--grey);
}
.device-item {
  border-bottom: 1px solid rgb(185, 185, 185);
  padding-bottom: 50px;
  margin-bottom: 50px;
  width: 250px;
}
.device-item img {
  width: 200px;
}

/* Dots */
.dot {
  margin: 22px 4px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}
.dot1 {
  background-color: rgb(171, 174, 179);
}
.dot2 {
  background-color: rgb(226, 226, 226);
}
.dot3 {
  background-color: rgb(224, 204, 183);
}
.dot4 {
  background-color: rgb(105, 105, 105);
}
.dot5 {
  background-color: rgb(185, 184, 209);
}
.dot6 {
  background-color: rgb(135, 174, 191);
}
.dot7 {
  background-color: rgb(87, 104, 86);
}
.dot8 {
  background-color: rgb(250, 221, 215);
}
.dot9 {
  background-color: rgb(39, 103, 135);
}
.dot10 {
  background-color: rgb(35, 42, 48);
}
.dot11 {
  background-color: rgb(183, 175, 230);
}
.dot12 {
  background-color: rgb(191, 0, 19);
}
/* Pages Container Buttons */
.page-buttons2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.page-buttons2 button:first-child {
  padding: 10px 25px;
}
.page-buttons2 button {
  background-color: var(--blue);
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}
.page-buttons2 button:last-child {
  background-color: unset;
  color: var(--blue);
  padding: 0px;
  width: 140px;
  font-size: 1.4rem;
}

.page-buttons2 a {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 1399px) {
}
@media screen and (max-width: 1000px) {
  .device-list {
    display: flex;
    flex-direction: column;
  }
  .device-list-item {
    height: 70px;
  }

  .device-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
  }

  .device-item {
    border-bottom: 1px solid rgb(185, 185, 185);
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 200px;
  }
  .device-item h2 {
    height: 65px;
  }
  .device-item img {
    height: auto;
  }

  .device-item h2 {
    height: 65px;
  }
  .device-item img {
    height: auto;
  }
}
@media screen and (max-width: 670px) {
  .device-list {
    display: none;
  }
  .device-item h2 {
    height: auto;
    margin: 0 0 10px 0;
  }
  .device-item img {
    height: auto;
  }
  .device-item {
    width: 200px;
  }
  .page-buttons2 button {
    font-size: 1.2rem;
    border-radius: 20px;
  }
  .page-buttons2 button:last-child {
    padding: 0px;
    width: 100%;
    font-size: 1.2rem;
  }
}
