/* Footer */
.footer {
  display: flex;
  flex-direction: column;
}
.footer a {
  margin-top: 50px;
  padding: 30px;
  border-radius: 50%;
  border: 1px solid rgb(75, 75, 75);
  color: #dadada;
  align-self: center;
  transition: all 0.3s;
}
.footer a:hover {
  color: var(--white);
  border: 1px solid var(--white);
}
.footer p {
  color: #dadada;
  font-size: 1.5rem;
  padding: 20px 0;
}
@media screen and (max-width: 1000px) {
  .footer p {
    text-align: center;
  }
}
@media screen and (max-width: 1439px) {
  .footer a {
    margin-top: 40px;
    padding: 20px;
    border-radius: 50%;
  }
}
