.header {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: var(--grey);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  width: 100%;
  z-index: 7;
  overflow: hidden;
}

.header p,
.menu-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: var(--white);
  z-index: 7;
}
.menu a,
p {
  text-decoration: none;
  color: #dadada;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.menu a:hover,
.menu p:hover {
  color: var(--white);
}
.menu {
  display: flex;
  gap: 50px;
  align-items: center;
}
.menu-phone {
  display: none;
}
.header-left a {
  color: #acacac;
}
/* Phone header */
.header-phone {
  display: none;
}
.header-left button {
  background-color: unset;
  border: none;
  outline: none;
  padding: 0;
  color: #acacac;
  z-index: 7;
}
.phone-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  padding-top: 69px;
  background-color: var(--grey);
  list-style: none;
  z-index: 2;
}
.header ul {
  margin: 0;
  padding: 0;
  overflow: scroll;
}
.header ul > li > a {
  color: #acacac;
  text-decoration: none;
  font-size: 2rem;
}

@media screen and (max-width: 1399px) {
  .menu a,
  p {
    font-size: 1rem;
    margin: 10px 0;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    background-color: rgb(29, 29, 29);
  }
}
@media screen and (max-width: 670px) {
  .header-left {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .header-phone {
    display: block;
  }
  .menu {
    display: none;
  }
  .phone-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
  }
}
