/* Info Container */
.info-container {
  display: flex;
  padding: 5% 5% 0 5%;
  gap: 2%;
}

.info-container h1 {
  width: 70%;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-weight: 500;
  align-self: center;
}
.info-container img {
  margin-top: 50px;
  width: 100%;
  align-self: center;
}

.info-container p {
  margin: 0;
  color: #1d1d1d;
  font-size: 2rem;
  width: 70%;
  align-self: center;
}

/* Info Item */
.info-item {
  padding: 5% 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 50%;
  box-shadow: 0 0 20px rgb(223, 223, 223);
}
.info-text {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.info-container button {
  background-color: unset;
  border: none;
  outline: none;
  color: var(--blue);
  font-size: 1.5rem;
}

@media screen and (max-width: 1399px) {
  .info-container {
    padding: 4% 4% 0 4%;
  }
  .info-container h1 {
    width: 80%;
    font-size: 2rem;
  }
  .info-container p {
    margin: 0;
    color: #1d1d1d;
    font-size: 1.5rem;
    width: 70%;
    align-self: center;
  }
  .item-info-text {
    height: 50px;
  }
}
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 670px) {
  .info-container {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    gap: 15px;
    align-items: center;
  }
  .info-item {
    width: 100%;
  }
  .info-container button {
    font-size: 1rem;
  }
}
