.shop-item-card {
  display: flex;
  width: 100%;
  height: 80vh;
  align-items: center;
}
.shop-item-img {
  width: 50%;
}
.shop-item-text {
  width: 50%;
}
.shop-item-card img {
  max-width: 90%;
}
.shop-item-text h2 {
  margin: 0;
  font-size: 4rem;
  letter-spacing: -2px;
}
.shop-item-text p {
  color: var(--grey);
  font-size: 2rem;
  letter-spacing: -1px;
}
.shop-item-text-button {
  display: flex;
  justify-content: space-between;
}
.shop-item-text-button p {
  margin: 10px;
}
.shop-item-text-button button {
  border: none;
  background-color: var(--blue);
  color: white;
  font-size: 2rem;
  border-radius: 25px;
  width: 50%;
  cursor: pointer;
}
.shop-item-text-button button:hover {
  background-color: var(--lighblue);
}
.shop-item-box-container {
  background-color: rgb(248, 248, 248);
  width: 100%;
  padding: 50px 50px 0 50px;
}

.shop-item-box-container p {
  color: var(--grey);
  text-align: center;
}

.shop-item-box-container h2 {
  text-align: center;
  font-size: 4rem;
  letter-spacing: -2px;
  margin: 0 0 50px 0;
}
.shop-item-box {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.shop-item-box-img {
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .shop-item-text h2 {
    font-size: 2.5rem;
    letter-spacing: -1px;
  }
  .shop-item-text p {
    font-size: 1.5rem;
    letter-spacing: -1px;
  }
  .shop-item-text-button button {
    font-size: 1.5rem;
    border-radius: 25px;
    width: 50%;
  }
  .shop-item-text-button p {
    font-size: 2em;
  }
  .shop-item-card {
    height: auto;
  }
  .shop-item-box-container h2 {
    font-size: 3rem;
    letter-spacing: -1px;
    margin: 0 0 20px 0;
  }
  .shop-item-box {
    gap: 50px;
  }
  .shop-item-img {
    width: 60%;
  }
  .shop-item-text {
    width: 40%;
  }
}
@media screen and (max-width: 870px) {
  .shop-item-box {
    gap: 30px;
  }
  .shop-item-box-container p {
    font-size: 0.7rem;
  }
  .shop-item-text p {
    font-size: 1rem;
    letter-spacing: 0px;
  }
  .shop-item-text-button p {
    font-size: 1.5em;
  }
  .shop-item-text-button {
    margin-top: 25px;
  }
  .shop-item-box-container {
    background-color: rgb(248, 248, 248);
    width: 100%;
    padding: 50px 15px 0 15px;
  }
  .shop-item-box-container h2 {
    font-size: 2.5rem;
    letter-spacing: -1px;
  }
}
@media screen and (max-width: 800px) {
  .shop-item-box img {
    transform: scale(85%);
  }
}

@media screen and (max-width: 670px) {
  .shop-item-card {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    gap: 50px;
  }
  .shop-item-img {
    width: 100%;
    align-self: center;
  }
  .shop-item-text {
    width: 100%;
  }
  .shop-item-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .shop-item-box img {
    transform: scale(80%);
  }
}
@media screen and (max-width: 500px) {
  .shop-item-box img {
    transform: scale(70%);
  }
  .shop-item-box {
    gap: 5px;
  }
  .shop-item-box img:first-child {
    transform: scale(50%);
  }
}
