.modal-text p {
  font-size: 25px;
  color: var(--grey);
}
.modal-text {
  padding: 50px;
}
.modal-text h3 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}
.modal-anchor {
  display: flex;
  flex-direction: column;
}
.modal-anchor a {
  color: rgb(27, 129, 231);
  text-decoration: none;
}
.modal-anchor a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1399px) {
  .modal-text p {
    font-size: 15px;
  }
  .modal-text {
    padding: 25px;
  }
  .modal-text h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .modal-box {
    width: 70%;
  }
  .modal-text p {
    font-size: 15px;
  }
  .modal-text {
    padding: 25px;
  }
  .modal-text h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 670px) {
  .modal-box {
    width: 90%;
  }
  .modal-text p {
    font-size: 15px;
  }
  .modal-text {
    padding: 10px;
  }
  .modal-text h3 {
    font-size: 30px;
  }
}
