.side-navbar {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 88.4px;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.side-navbar a {
  color: #acacac;
}
.side-navbar a:hover {
  color: var(--white);
}

@media screen and (max-width: 1399px) {
  .side-navbar {
    width: 69px;
  }
}
@media screen and (max-width: 1000px) {
  .side-navbar {
    display: none;
  }
}
