.store-cart {
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 29%;
  height: 100%;
  transition: all 0.2s;
  cursor: pointer;
}
.store-cart-text {
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 80%;
  justify-content: space-between;
  height: 100%;
  gap: 30px;
}
.store-cart h2 {
  color: var(--grey);
  padding: 0 20px;
  margin: 0;
}
.store-cart p {
  color: rgb(110, 110, 115);
  font-weight: 400;
  padding: 0 20px;
  margin: 0;
}

.store-cart:hover img {
  transform: scale(102%);
}
@media screen and (max-width: 1399px) {
  .store-cart-text {
    padding: 10px;
    width: 100%;
    height: 100%;
    gap: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .store-cart-text {
    padding: 5px;
    gap: 20px;
  }
  .store-cart {
    width: 29%;
    height: 300px;
  }
  .store-cart h2 {
    padding: 0 10px 10px 10px;
  }
  .store-cart p {
    padding: 0 10px;
  }
  .store-cart:hover img {
    transform: scale(100%);
  }
}
@media screen and (max-width: 670px) {
  .store-cart img {
    height: auto;
  }
  .store-cart-text {
    padding: 5px;
    gap: 20px;
  }

  .store-cart h2 {
    font-size: 1rem;
    padding: 0 5px 5px 5px;
  }
  .store-cart p {
    font-size: 0.9rem;
    padding: 0 5px;
  }
  .store-cart {
    align-self: center;
    width: 90%;
    height: auto;
  }
}
