.basket-container {
  background-color: aliceblue;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  min-height: 87vh;
  gap: 5%;
  padding: 50px;
  overflow: hidden;
  justify-content: space-between;
  margin-top: 89px;
}
.basket-empty {
  text-align: center;
}
.basket-container h1 {
  margin: 0;
  font-size: 4rem;
}
.basket-container p {
  color: var(--grey);
  font-size: 1.5rem;
}
.basket-table-container {
  width: 100%;
}
.basket-table {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgb(190, 190, 190);
  align-items: center;
  padding: 20px 0;
}
.basket-table:first-child {
  border-top: 0.5px solid rgb(190, 190, 190);
}
.basket-table-buttons {
  display: flex;
  align-items: center;
}
.basket-table > td {
  width: 200px;
  font-size: 1.5em;
  color: var(--grey);
  text-align: left;
}
.basket-table > td img {
  height: 10rem;
}
.quantity-deskop {
  display: block;
}
.quantity-phone {
  display: none;
  width: 50px;
}
.basket-table button {
  background-color: unset;
  border: none;
}
.basket-price-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.basket-price {
  margin: 20px 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.basket-price-item {
  display: flex;
  justify-content: space-between;
}
.basket-price-item h2 {
  color: var(--grey);
  margin: 10px 0;
  font-size: 2rem;
}
.basket-price-item-border {
  border-bottom: 0.5px solid rgb(190, 190, 190);
}
.basket-price-container button {
  width: 50%;
  margin-top: 15px;
  border-radius: 20px;
  padding: 20px;
  font-size: 1.5rem;
  background-color: var(--blue);
  color: white;
  border: none;
  outline: none;
}
.basket-price-container button:first-child {
  background-color: grey;
  color: white;
}
.basket-price-item-buttons {
  display: flex;
  gap: 10px;
}
.basket-price-item-buttons a {
  margin-top: 15px;
  text-align: center;
  width: 50%;
  border-radius: 20px;
  padding: 20px;
  font-size: 1.5rem;
  background-color: var(--blue);
  color: white;
  border: none;
  outline: none;
  text-decoration: none;
}
.basket-price-item-buttons a:hover {
  background-color: var(--lighblue);
}
.basket-price-container button:hover {
  background-color: rgb(146, 146, 146);
}
@media screen and (max-width: 1400px) {
  .basket-container {
    margin-top: 70px;
  }
}
@media screen and (max-width: 1150px) {
  .basket-table > td {
    width: 180px;
    font-size: 1.3em;
    color: var(--grey);
    text-align: center;
  }
  .basket-table > td img {
    height: 100px;
  }
}
@media screen and (max-width: 1000px) {
  .quantity-deskop {
    display: none;
  }
  .quantity-phone {
    display: block;
  }
  .basket-price {
    width: 70%;
  }
  .basket-table-buttons button {
    padding: 5px;
  }
}
@media screen and (max-width: 825px) {
  .basket-price {
    width: 100%;
  }
  .basket-container h1 {
    text-align: center;
  }
  .basket-container p {
    text-align: center;
    color: var(--grey);
    font-size: 1.5rem;
  }
  .basket-table > td {
    width: auto;
    font-size: 1.2rem;
    text-align: left;
  }

  .basket-table > td:first-child {
    width: 100px;
  }
}
@media screen and (max-width: 670px) {
  .basket-container {
    border-radius: 0px;
  }
  .basket-container {
    padding: 25px;
  }
  .basket-table > td img {
    height: 90px;
  }
  .quantity-phone {
    display: none;
  }
  .basket-table-buttons {
    display: none;
  }
  .basket-container h1 {
    font-size: 3rem;
  }
  .basket-container p {
    font-size: 1.3rem;
  }
  .basket-price-item-buttons button {
    font-size: 1rem;
    gap: 10px;
  }
  .basket-price-item-buttons button {
    padding: 15px;
  }
  .basket-price-item-buttons a {
    padding: 15px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .basket-container h1 {
    font-size: 2.5rem;
  }
  .basket-container p {
    font-size: 1.2rem;
  }
  .basket-table > td {
    font-size: 1rem;
  }
  .basket-price-item-buttons button {
    font-size: 0.9rem;
    padding: 10px;
    gap: 10px;
  }
  .basket-price-item-buttons a {
    font-size: 0.9rem;
    padding: 10px;
    gap: 10px;
  }
  .basket-table > td img {
    height: 80px;
  }
}
