.checkout {
  background-color: rgb(255, 255, 255);
  display: flex;
  min-height: 100vh;
  gap: 5%;
  padding: 50px;
  overflow: hidden;
  justify-content: space-between;
  margin-top: 87px;
}
.checkout-form {
  background-color: rgb(247, 247, 247);
  width: 70%;
}
.checkout-form h2 {
  font-size: 2rem;
  color: var(--grey);
  padding: 0 50px 0 50px;
}
.checkout-allitems {
  background-color: rgb(247, 247, 247);
  width: 30%;
  overflow: hidden;
  padding: 0 20px 20px 20px;
}
.checkout-allitems h2 {
  font-size: 2rem;
  color: var(--grey);
}
.checkout-allitems a {
  color: var(--grey);
  text-decoration: none;
}
.checkout-allitems a:hover {
  text-decoration: underline;
}
.checkout-form form {
  display: flex;
  flex-direction: column;
}
/* Summary */
/* Summary Top */
.checkout-table-container {
  width: 100%;
}
.checkout-table {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgb(190, 190, 190);
  align-items: center;
  padding: 20px 0;
}
.checkout-table:first-child {
  border-top: 0.5px solid rgb(190, 190, 190);
}

.checkout-table > td {
  font-size: 1rem;
  color: var(--grey);
  text-align: left;
}
.checkout-table > td img {
  height: 4rem;
}
td.checkout-table-img {
  width: 100px;
}
td.checkout-table-title {
  width: 100px;
}
/* Summary Bottom */
.checkout-price-container {
  display: flex;
  width: 100%;
}
.checkout-price {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.checkout-price p {
  color: var(--grey);
}
.checkout-price-item {
  display: flex;
  justify-content: space-between;
}
.checkout-price-item h2 {
  color: var(--grey);
  margin: 10px 0;
  font-size: 2rem;
}
.checkout-price-item-border {
  border-bottom: 0.5px solid rgb(190, 190, 190);
}
/* Form  */
.checkout-form form {
  display: flex;
  flex-direction: column;
  padding: 0 50px 50px 50px;
}
.form-row {
  display: flex;
  gap: 10px;
  width: 100%;
}

/* Form inputs */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
  background-color: unset;
  padding: 12px 20px;
  border: none;
  border-bottom: 1px solid rgb(179, 179, 179);
  outline: none;
  font-size: 1.3rem;
  width: 100%;
}
label {
  font-size: 1.2rem;
  margin-left: 5px;
}
.applecare-label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.form-applecare {
  margin-top: 20px;
  display: flex;
  align-items: baseline;
}

fieldset {
  background-color: rgb(232, 240, 254);
  border-radius: 5px;
  border: 0.5px solid rgba(128, 128, 128, 0.507);
  padding: 0;
  width: 100%;
}
legend {
  color: var(--grey);
  padding: 0 5px;
  margin: 0 0 0 10px;
}
.pay-type-container {
  margin: 10px 0 20px 0;
  display: flex;
  gap: 10px;
}
.pay-type {
  width: 50%;
  border: 1px solid grey;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.pay-type p {
  color: var(--grey);
}
button {
  background-color: var(--blue);
  color: white;
  padding: 12px 20px;
  border: none;
  outline: none;
  font-size: 1.3rem;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: var(--lighblue);
}

.checkout-thankyou {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.checkout-thankyou p {
  color: var(--grey);
  font-size: 5rem;
}
.checkout-thankyou a {
  color: var(--grey);
  font-size: 1.5rem;
}

@media screen and (max-width: 1399px) {
  .checkout {
    margin-top: 67px;
  }
}
@media screen and (max-width: 1150px) {
  .checkout-table {
    padding: 20px 0;
  }
  .checkout-table > td img {
    height: 3rem;
  }
  td.checkout-table-img {
    width: 70px;
  }
  td.checkout-table-title {
    width: 80px;
  }
}
@media screen and (max-width: 1025px) {
  td.checkout-table-title {
    font-size: 0.9rem;
  }
  .checkout {
    gap: 30px;
    padding: 30px;
  }
}
@media screen and (max-width: 1000px) {
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"] {
    padding: 12px 20px;
    font-size: 1.2rem;
  }
  .checkout-form h2 {
    font-size: 1.5rem;
    padding: 0 30px 0 30px;
  }
  .checkout-allitems h2 {
    font-size: 1.5rem;
  }
  .checkout-form form {
    padding: 0 30px 30px 30px;
  }
  .checkout {
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    gap: 30px;
  }
  .checkout-form {
    width: 100%;
  }

  .checkout-allitems {
    width: 100%;
    padding: 0 20px 20px 20px;
  }
}
@media screen and (max-width: 800px) {
  .form-row {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .pay-type-container {
    margin: 10px 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .pay-type {
    width: 100%;
  }
  .checkout {
    gap: 20px;
    padding: 20px;
  }
}
@media screen and (max-width: 670px) {
  .checkout-thankyou p {
    font-size: 3.5rem;
    align-self: center;
  }
  .checkout-thankyou a {
    font-size: 1.4rem;
  }

  .checkout {
    gap: 10px;
    padding: 10px;
  }
  .checkout-form h2 {
    padding: 0 10px 0 10px;
  }
  .checkout-form form {
    padding: 0 10px 10px 10px;
  }
  .checkout-allitems {
    padding: 0 10px 10px 10px;
  }
}
