/* Pages Container */
.pages-container {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  height: 87vh;
  gap: 5%;
  padding: 0 0 0 5%;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  margin-top: 88.38px;
}

/* Pages Container Text */
.pages-text {
  display: flex;
  text-align: center;
  align-self: center;
}
.pages-text h1 {
  color: #dadada;
  font-size: 5rem;
  margin: 0;
  letter-spacing: -2px;
}
.pages-text p {
  color: #dadada;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
  letter-spacing: -2px;
}
.price p {
  margin-top: 20px;
  color: #d4d4d4;
  font-weight: 400;
  font-size: 2rem;
}

/* Pages Container Buttons */
.page-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.page-buttons button:first-child {
  width: 100px;
  padding: 5px;
}
.page-buttons button {
  background-color: var(--blue);
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}
.page-buttons button:last-child {
  background-color: unset;
  color: var(--blue);
  padding: 10px 20px;
  font-size: 1.5rem;
}
.page-buttons button:last-child::after {
  content: " \003E";
}
.page-buttons a {
  text-decoration: none;
  color: white;
}

/* Page Mac */
.MacBook-page {
  background: linear-gradient(
    -45deg,
    rgb(100, 30, 67),
    rgb(9, 26, 51),
    rgb(43, 6, 48)
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Page iPad */
.iPad-page {
  background: linear-gradient(
    -45deg,
    rgb(81, 16, 4),
    rgb(0, 66, 46),
    rgb(81, 16, 4)
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
.iPad-page img {
  width: 30%;
  margin-right: 5%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Page Watch */
.watch-page {
  background: linear-gradient(-45deg, #5f755f, #4e5d70, #5f755f);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
.watch-page img {
  width: 50%;
  margin-right: 5%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Page iPhone */
.iPhone-page-main {
  background: linear-gradient(
    -45deg,
    rgb(20, 27, 122),
    rgb(37, 131, 160),
    rgb(56, 52, 102)
  );
  padding: 0 5%;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
.iPhone-page-main img {
  width: 50%;
  align-self: center;
}
.button-color button:last-child {
  color: #dadada;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Responsive */

@media screen and (max-width: 1399px) {
  .pages-container {
    gap: 0%;
    padding: 0 0 0 5%;
    padding-top: 0px;
    margin-top: 69px;
  }
  .MacBook-page img {
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .pages-container {
    padding: 20px;
    margin-top: 0px;
  }
}
@media screen and (max-width: 970px) {
  .pages-container {
    flex-direction: column;
    height: auto;
    gap: 50px;
    padding: 50px 0;
  }
  .pages-text {
    padding: 0 50px;
  }
  .pages-container img {
    max-height: auto;
    width: 80%;
  }
  .watch-page img {
    margin-right: 0%;
  }
  .iPad-page img {
    width: 50%;
    margin-right: 0%;
  }
  .MacBook-page img {
    align-self: flex-end;
  }
}
@media screen and (max-width: 800px) {
  .pages-text h1 {
    font-size: 4rem;
    letter-spacing: -1px;
  }
  .pages-text p {
    font-size: 2rem;
    margin: 0;
    letter-spacing: -1px;
  }
  .price p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 670px) {
  .pages-container {
    border-radius: 0px;
  }
  .pages-text {
    padding: 10px;
  }
}
@media screen and (max-width: 500px) {
  .pages-text h1 {
    font-size: 3rem;
  }
  .pages-text p {
    font-size: 1.7rem;
  }
  .price p {
    font-size: 1.4rem;
  }
}
