.shop-page {
  background-color: aliceblue;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 5%;
  padding: 50px;
  overflow: hidden;
  justify-content: space-between;
  margin-top: 67px;
}
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 670px) {
  .shop-page {
    border-radius: 0px;
    padding: 50px 15px;
  }
}
