.page-temp {
  border-radius: 30px;
  height: 87vh;
  margin-top: 88px;
  gap: 20px;
  overflow: hidden;
}

.store-page-first {
  display: flex;
  padding: 0;
  background-color: #ebebeb;
}
.store-page-first-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-self: center;
}
.store-page-first-text h1 {
  text-align: left;
  color: rgb(110, 110, 115);
  font-size: 4rem;
  margin: 0;
  letter-spacing: -2px;
}
.store-page-first-container {
  display: flex;
}
.store-page-first-items {
  width: 200px;
  text-align: center;
}
.store-phone-img {
  display: none;
}
.store-page-first-items img {
  width: 100%;
  transition: all 0.2s;
}
.store-page-first-items img:hover {
  transform: scale(102%);
}
.store-page-first-items a {
  text-decoration: none;
}
.store-page-first-items p {
  color: var(--grey);
  text-align: center;
}
.store-left-site {
  width: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4%;
  height: 100%;
  gap: 50px;
  z-index: 2;
}
.store-right-site {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}
.store-right-site img {
  width: 100%;
}
/* Store info */

.store-info {
  background-color: rgb(242, 242, 242);
  display: flex;
  justify-content: center;
  align-items: center;
}
.store-container {
  padding-left: 88.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 0;
  margin: 50px;
}
.store-container p {
  color: rgb(110, 110, 115);
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0 0 15px 0;
  letter-spacing: -1px;
  text-align: left;
}
.store-img {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.modal-image {
  width: 100%;
}
.store-img-phone {
  display: none;
}
.store-info img {
  border-radius: 50px;
  height: auto;
  box-shadow: 0 0 10px rgb(223, 223, 223);
  transition: all 0.3s;
  cursor: pointer;
}
.store-img img:hover {
  box-shadow: 0 0 20px rgb(211, 211, 211);
  transform: scale(101%);
}
.store-info-right {
  display: flex;
  flex-direction: column;
  gap: 4%;
  height: auto;
  justify-content: stretch;
}
.store-info-right-img {
  height: 48%;
}
/* Stores third page */
.stores-page {
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
  justify-content: center;
  align-items: center;
  padding: 4%;
  gap: 60px;
}
.stores-page h1 {
  color: var(--grey);
  font-size: 4rem;
  margin: 0;
  letter-spacing: -2px;
  font-weight: 500;
}
.stores-row {
  display: flex;
  gap: 4%;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 1399px) {
  .header {
    padding: 0 10px;
  }
  .menu a,
  p {
    font-size: 1rem;
    margin: 10px 0;
  }
  .page-temp {
    margin-top: 68px;
    gap: 20px;
    overflow: hidden;
  }
  .store-page-first-text h1 {
    font-size: 3rem;
  }
  .store-page-first-items {
    width: 200px;
    text-align: center;
  }
  /* Second store page */
  .store-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .store-container {
    padding-left: 88.7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 0;
  }
  .store-container p {
    font-size: 2rem;
    letter-spacing: -1px;
  }
  .stores-page h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1000px) {
  .page-temp {
    margin-top: 0px;
    gap: 20px;
    overflow: hidden;
    height: auto;
  }
  .store-page-first {
    flex-direction: column;
    align-items: center;
  }
  .store-phone-img {
    display: block;
  }
  .store-img {
    display: none;
  }
  .store-right-site img {
    width: 100%;
    top: 0px;
  }
  .store-left-site {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 50px 50px 0 50px;
    height: 100%;
    z-index: 2;
  }
  .store-right-site {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
  }
  .store-info img {
    border-radius: 25px;
  }
  .store-img-phone {
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .store-info-right2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .store-info-right {
    display: flex;
    flex-direction: row;
    gap: 4%;
    height: auto;
    justify-content: stretch;
  }
}
@media screen and (max-width: 670px) {
  .store-page-first-text h1 {
    text-align: center;
  }
  .store-left-site {
    padding: 30px 30px 0 30px;
  }
  .page-temp {
    border-radius: 0px;
  }
  .store-container {
    align-items: center;
  }
  .store-container p {
    text-align: center;
    font-size: 2.5rem;
  }
  .store-info-right2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .store-info-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    justify-content: stretch;
  }
  .stores-page {
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    justify-content: center;
    align-items: center;
    padding: 35px 15px;
    gap: 60px;
    width: 100%;
  }
  .stores-page h1 {
    font-size: 2.5rem;
    letter-spacing: -1px;
  }
  .stores-row {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .store-left-site {
    padding: 30px 10px 0 10px;
  }
}

/* Responsive */
