* {
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --grey: #1d1d1d;
  --blue: #0071e3;
  --lighblue: #2881da;
}
html {
  scroll-behavior: smooth;
}
/* Custom scrollbar */
body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(61, 61, 61);
  outline: 1px solid rgb(0, 0, 0);
  border-radius: 5%;
}

/* Body */
body {
  background-color: var(--grey);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

/* All Pages Container */
.home {
  padding: 0 0 0 88.4px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 1399px) {
  .home {
    padding: 0 0 0 69px;
    gap: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .home {
    margin-top: 68px;
    padding: 0;
    gap: 20px;
  }
}
